<div id="id_header">
  <div class="left-nav">
    <div class="logo">
      <%= link_to image_tag("https://beeng.org/images/logo-beeng.png"), root_path %>
    </div>
    <div id="id_nav" class="blue">
      <div><a href="#">Hot</a></div>
      <div><a href="#">Mới nhất</a></div>
      <div><a href="#">Đề xuất</a></div>
      <div class="sub-nav">
        <div class="categories-nav"> <%= link_to "Thể loại",  show_categories_path %> </div>
        <div class="categories-sub-nav">
          <% @categories.each do |category| %>
            <div class="category-sub-nav"><%= link_to category.name, show_category_path(category.id) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="right-nav">
    <div class="search-bar">
      <%= form_with(url: search_path, method: :post) do |form| %>
        <%= form.text_field :keyword, placeholder: "Nhập tên truyện...", id: "id_search_bar" %>
      <% end %>
      <div class="search-btn">
        <img src="https://cdn.icon-icons.com/icons2/2551/PNG/512/search_icon_152764.png" alt="">
      </div>
    </div>
    <div class="btn">
      <%= link_to "Đăng Nhập", "#" %>
    </div>
  </div>
</div>
