<!--Header!-->
 <%= render 'header' %>

<div id="id_slider">
 <% @products.each do |product| %>
 <div class="thumbnail">
    <%= image_tag product.thumbnail_url %>
 </div>
 <% end %>

</div>
<div id="id_content">
  <div class="hot-products">
    <div class="title blue">Hot</div>
    <div class="products">
      <% @hot_products.each do |product| %>
        <div class="product-card blue">
          <%= image_tag "https://cdn.beeng.org/mangas/2021/07/05/07/nusunde-lilith.jpg"%>
          <div class="product-information">
            <div class="product-name">
              <%= link_to product.title, show_product_path(product.id) %>
            </div>
            <div class="product-chapters">
              <%= link_to product.chapters.first.title, "#" %>
            </div>
            <div class="product-stars">
              <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
              <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
              <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
              <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
              <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="btn">
      <%= link_to "Xem thêm", "#" %>
    </div>
  </div>
  <div class="new-products">
    <div class="title blue">Mới Nhất</div>
    <div class="btn">
      <%= link_to "Xem thêm", "#" %>
    </div>
  </div>
</div>

<!--Footer!-->
 <%= render 'footer' %>
