<!--Header!-->
 <%= render 'header' %>

<div class="product-details">
  <%= image_tag @product.thumbnail_url, class:"product-img"%>
  <div class="product-description">
    <h3><%= @product.title %></h3>
    <p><%= @product.short_description %></p>
    <div class="product-stars">
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
    </div>
    <div>(Hãy tham gia bình chọn cho truyện bạn nhé!)</div>
    <div class="more-info">
      <div class="bold">Nhóm dịch:</div>
      <div>Đang cập nhật...</div>
    </div>
    <div class="more-info">
      <div class="bold">Tác giả:</div>
      <div>Đang cập nhật...</div>
    </div>
    <div class="more-info">
      <div class="bold">View counts:</div>
      <div><%= @product.current_view_counts %></div>
    </div>
  </div>
</div>
<div class="btn-category btn">
  <%= link_to @product.category.name %>
</div>
<div class="list-chapters">
  <div class="title"> Danh sách chương</div>
  <div class="chapters">
    <% @chapters.each do |chap| %>
      <div class="chapter">
        <div class="chap-title">
          <%= link_to chap.title, show_chapter_path(chap.id) %>
        </div>
        <div>
          <%= image_tag "https://cdn.iconscout.com/icon/free/png-256/bookmark-1754138-1493251.png" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="same-products">
  <div class="title"> Truyện tương tự</div>
</div>

<div>Comment</div>
<div>
  <textarea id="id_comment"></textarea>
</div>
<div class="btn"><%= link_to 'Send',"#", id:'id_send_comment' %></div>
<div id="id_list_comment">
</div>
<!--Footer!-->
 <%= render 'footer' %>
