<div id="id_header">
  <%= render 'header' %>
</div>
<div class="product-details">
  <%= image_tag "https://cdn.beeng.org/mangas/2021/07/05/07/nusunde-lilith.jpg" %>
  <div class="product-description">
    <h3>Nusunde Lilith</h3>
    <p>Một đứa em ban sáng làm người mẫu ... cho ông anh vẽ,
    ban đêm đi cướp bức trang của anh vì lý do ngớ ngẩn dẫn đến
    bao chuyện cười ra nước mắt và mất máu liên tục. Để biết thêm
    chi tiết mời các bạn đọc chap truyện bên dưới nhé...</p>
    <div class="product-stars">
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
      <%= image_tag "https://emojigraph.org/media/google/star_2b50.png" %>
    </div>
    <div>(Hãy tham gia bình chọn cho truyện bạn nhé!)</div>
  </div>
</div>
<div class="list-chapters">
  <div class="title"> Danh sách chương</div>
</div>
<div class="same-products">
  <div class="title"> Truyện tương tự</div>
</div>
