<%= render 'manga/header' %>

<div class="chapter-details">
  <div class="l-title">

    <span>  <%= @product.title %>:</span>
    <span id="id_chapter_title"><%= @chapter.title %></span>

  </div>
  <div class="select-chapter">
    <div>
      <%= form_with do |form| %>
      <div class="field">
          <%= form.collection_select :chapter_id, @chapters, :id, :title, include_blank: @chapter.title %>
        </div>
      <% end %>
    </div>

    <div class="btn btn-back">
      <%= link_to "Quay lại", show_product_path(@chapter.product.id) %>
    </div>
  </div>


  <div class="chapter-content" id="id_chapter_content">
    <% @chapter.image_list.split(",").each do |chap| %>
      <%= image_tag chap %>
    <% end %>
  </div>
</div>

<%= render 'manga/footer' %>
